# datasets
kaggle/
sample_audio/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
ENV/
env/
pyvenv.cfg

# Node modules
node_modules/

# IDEs
.vscode/
.idea/

# Data
*.csv
*.h5
*.npy

# Jupyter notebooks
.ipynb_checkpoints

# Logs
*.log

# Others
.env